<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>{{ReportName}} Report for {{Date}}</title>
    <style type="text/css">
        p, td {
            font-family: "Calibri", sans-serif;
            font-size: 11.0pt;
        }
    </style>
</head>
<body>
<p>Please find the <span style="font-weight: bold">{{ReportName}}</span> for <span style="font-weight: bold;">{{Date}}</span> attached.</p>
<p>Report period: <span style="font-weight: bold">{{From}}</span> to <span style="font-weight: bold">{{To}}</span></p>
<p><span style="font-weight: bold">{{RecordCount}}</span> records were returned.</p>
<p>&nbsp;</p>
</body>
</html>