<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings file="C:\Users\mattm\source\repos\Seq.Client.Reporter\Seq.Client.Reporter\bin\Release\net461\secrets.config">
    <add key="EnableMethodNameProperty" value="true" />
    <add key="EnableSourceFileProperty" value="true" />
    <add key="EnableLineNumberProperty" value="true" />

    <add key="AppName" value="Seq.Client.Reporter" />
    <add key="LogType" value="Console,File,Seq" />

    <add key="LogMaskProperties" value="" />
    <add key="LogMaskPolicy" value="None" />
    <add key="LogMaskPattern" value="XXXXXX" />
    <add key="LogMaskCharacter" value="X" />
    <add key="LogMaskDigit" value="*" />

    <add key="LogConsoleTheme" value="Literate" />

    <add key="LogFolder" value="C:\TEMP\TEMP\log" />
    <add key="LogName" value="Reporter" />
    <add key="LogExtension" value=".log" />
    <add key="LogFileType" value="Text" />
    <add key="LogDays" value="31" />
    <add key="LogFlush" value="5" />
    <add key="LogShared" value="false" />
    <add key="LogBuffered" value="true" />

    <add key="LogEventSource" value="Reporter" />
    <add key="LogEventName" value="Application" />

    <add key="logSeqServer" value="https://seq.domain.com" />
    <add key="logSeqApiKey" value="" />

    <add key="LogLevel" value="Verbose" />
    <add key="LogLevelConsole" value="Verbose" />
    <add key="LogLevelFile" value="Information" />
    <add key="LogLevelEvent" value="Warning" />
    <add key="LogLevelSeq" value="Verbose" />


    <add key="LogFormatConsole" value="{Message}{NewLine}" />
    <add key="LogFormatEvent" value="({ThreadId}) {Message}{NewLine}{NewLine}{Exception}" />
    <add key="LogFormatFile" value="{Timestamp:yyyy-MM-dd HH:mm:ss}: ({ThreadId}) [{Level}] {Message}{NewLine}" />

    <add key="MailRenderer" value="Liquid" />
    <add key="MailSender" value="MailKit" />
    <add key="MailTemplatePath"
         value="" />
    <add key="MailHost" value="mail" />
    <add key="MailPort" value="25" />
    <add key="MailTestTimeout" value="3" />
    <add key="MailUseAuthentication" value="false" />
    <add key="MailUsername" value="" />
    <add key="MailPassword" value="" />
    <add key="MailUseTls" value="true" />
    <add key="MailTimeout" value="60" />
    <add key="MailFrom" value="bob@builder.com" />
    <add key="MailTo" value="wendy@builder.com" />
    <add key="MailDebug" value="scoop@builder.com" />
    <add key="MailSubject" value="Alert!" />
  </appSettings>
</configuration>