<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="AppName" value="Scheduled Transfer Report" />
    <add key="LogType" value="Console,File,Seq" />
    <add key="LogFolder" value="C:\TEMP\TEMP\Log" />
    <add key="LogName" value="Transfer" />
    <add key="LogFileType" value="Json" />
    <add key="LogDays" value="31" />
    <add key="LogFlush" value="5" />
    <add key="LogShared" value="false" />
    <add key="LogBuffered" value="true" />
    <add key="LogLevelConsole" value="Verbose" />
    <add key="LogLevelFile" value="Information" />
    <add key="LogLevelEvent" value="Warning" />
    <add key="LogLevelSeq" value="Verbose" />

    <add key="MailFrom" value="ScheduledTransfer.SEQ@domain.com" />
    <add key="MailTo" value="Bob@Builder.com,Wendy@builder.com" />
    <add key="MailDebug" value="Scoop@Builder.com" />
    
    <add key="ValidateTls" value="false" />
    <add key="IsDebug" value="false" />
    <!-- Specify the valid Seq query you want to run. Multi-line is okay, but you must escape special characters per below-->
    <!--  Ampersand       &amp;   &
          Less-than       &lt;    <
          Greater-than    &gt;    >
          Quotes          &quot;  "
          Apostrophe      &apos;  '-->
    <add key="Query"
         value="SELECT 
Substring(ToIsoString(@Timestamp + OffsetIn(&apos;Australia/Sydney&apos;,@Timestamp)), 0, LastIndexOf(ToIsoString(TimeOfDay(@Timestamp, DatePart(OffsetIn(&apos;Australia/Sydney&apos;,@Timestamp),&apos;hour&apos;,0h))), &apos;T&apos;)) AS Date, 
Substring(ToIsoString(TimeOfDay(@Timestamp, DatePart(OffsetIn(&apos;Australia/Sydney&apos;,@Timestamp),&apos;hour&apos;,0h))), IndexOf(ToIsoString(TimeOfDay(@Timestamp, DatePart(OffsetIn(&apos;Australia/Sydney&apos;,@Timestamp),&apos;hour&apos;,0h))), &apos;T&apos;) + 1, LastIndexOf(ToIsoString(TimeOfDay(@Timestamp, DatePart(OffsetIn(&apos;Australia/Sydney&apos;,@Timestamp),&apos;hour&apos;,0h))), &apos;.&apos;) - IndexOf(ToIsoString(TimeOfDay(@Timestamp, DatePart(OffsetIn(&apos;Australia/Sydney&apos;,@Timestamp),&apos;hour&apos;,0h))), &apos;T&apos;) - 1) AS XfrTime, 
@Message,
log4net_HostName AS Server 
FROM Stream LIMIT 10000" />
    <!-- Query timeout in minutes-->
    <add key="QueryTimeout" value="10" />
    <!-- Perform the query against one or more signals. Recommended since signals are indexed -->
    <add key="Signal" value="signal-503" />
    <!-- TimeFrom and TimeTo can be a Time, Date Expression, or Hybrid Expression-->
    <!-- Date expressions: {Int}s|m|h|d|w|M, where s=seconds, m=minutes, h=hours, d=days, w=weeks, M=months-->
    <!-- Sample date expression: 1M (1 month)-->
    <!-- Hybrid expressions - date expression plus time - examples: 1M 4:00 or 1d 04:00:00-->
    <add key="TimeFrom" value="4:00" />
    <add key="TimeTo" value="5:00" />

    <!-- Email, Jira, EmailAndJira -->
    <add key="ReportDestination" value="Jira" />

    <!-- Mandatory Jira attributes-->
    <add key="JiraUrl" value="https://jira.domain.com" />
    <add key="JiraUsername" value="Bob" />
    <add key="JiraPassword" value="Builder" />
    <add key="JiraProject" value="TEST" />
    <add key="JiraIssueType" value="Task" />
    <add key="JiraPriority" value="Medium" />
    <!-- Optional attributes -->
    <add key="JiraAssignee" value="BBuilder" />
    <add key="JiraLabels" value="Test,Labels" />
    <add key="JiraInitialEstimate" value="1d" />
    <add key="JiraRemainingEstimate" value="1d" />
    <add key="JiraDueDate" value="1w" />

    <add key="UseProxy" value="false" />
    <add key="ProxyServer" value="" />
    <add key="BypassProxyOnLocal" value="" />
    <add key="BypassList" value="" />
    <add key="ProxyUser" />
    <add key="ProxyPassword" />
  </appSettings>
</configuration>